<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>查询学生成绩</title> 
</head>
<body>
<form action="__CONTROLLER__/Query" method="post">
<label for="sno">学生学号：</label>
<input type="text" name="sno">
<br>
<label for="sname">学生姓名：</label>
<input type="text" name="sname">
<input type="submit" name="查询">
</form>
<br>
<table border="1">
 <tr>
 <th>学号 </th>
 <th> 姓名</th>
 <th> 科目名称</th>
 <th> 科目教师</th>
 <th> 成绩</th>
 </tr>
 <volist name = "msg" id = "vo" >
 <tr>
 <th>{$vo.s_no}</th>
 <th>{$vo.s_name}</th>
 <th>{$vo.c_name}</th>
 <th>{$vo.c_teacher}</th>
 <th>{$vo.grade}</th>
 </tr>
 
 </volist>
 </table>
 <p>
 <a href="../Index/HomePage">返回首页</a>
 </p>
</body>
</html>