<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>查询学生信息</title>
<link href="style.css" type="text/css" rel="stylesheet">
</head>
<body>

<form action="__CONTROLLER__/Query" method="post">
<label for="sno">student no:</label>
<input type="text" name="sno">
<br>
<label for="sname">student name:</label>
<input type="text" name="sname">
<br>
<input type="submit" value="query">
</form>
<table border="1">
  <tr>
    <th>学号</th>
    <th>姓名</th>
    <th>性别</th>
    <th>班级</th>
    <th>专业</th>
    <th>系别</th>
    <th>年龄</th>
    <th>手机</th>
     <th>地址</th> 

  </tr>
<volist name = "msg" id = "vo" >
  <tr>
    <td>{$vo.s_no}</td>
    <td>{$vo.s_name}</td>
    <td>{$vo.s_sex}</td>
    <td>{$vo.s_class}</td>
    <td>{$vo.s_major}</td>
    <td>{$vo.s_dept}</td>
    <td>{$vo.s_age}</td>
    <td>{$vo.s_phone}</td>
    <td>{$vo.s_add}</td>
  </tr>
</volist>
<p>
<a href="HomePage">返回首页</a>
</p>
</body>
</html>

